$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "variables";
@import "mixins";

.browsehappy {
  margin: 0.2em 0;
  background: $color-secondary-background;
  color: $color-black;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: $side-spacing;
  padding-right: $side-spacing;
}

/* Custom page header */
.header {
  border-bottom: 1px solid $color-border;
  padding-top: 65px;
  padding-bottom: 200px;
  margin-bottom: 30px;
  background-image: url(
    '../images/overlay.png'),
    linear-gradient(45deg, $color-orange-background 1%,
                           $color-blue-background 85%
  );
  .title {
    font-size: 32px;
    color: $color-white;
    text-align: center;
    position: relative;
    top: 45px;
  }
  img {
    display: block;
    margin: 0 auto;

  }
}

/* Custom page footer */
.footer {
  padding-top: 20px;
  // color: #777;
  // border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  position: relative;
  bottom: 100px;
  text-align: center;
  box-shadow: 0 8px 46px -6px $color-drop-shadow;
  background: #FFFFFF;
}

input {
  width: 5%;
  border: none;
  position: relative;
  top: 5px;
  font-size: 24px;
  padding-right: 15px;
  &:focus {
    outline: none !important;
  }
}

.flag {
  display: inline;
}

.dropdown {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
}

.ui-select-match-text {
  text-align: center;
  position: absolute;
  top: 2px;
  right: 0px;
  color: $color-dropdown-text;
  font-size: 20px;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
}

.ui-select-search {
    min-width: 100%;
}

.btn-default {
  border-color: transparent;
  @include removeElementState;
}

.form-control {
  border: 0px solid $color-white;
  border-radius: 0;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  @include removeElementState;
}

.btn-circle {
  width: 45px;
  height: 45px;
  padding: 6px 0;
  border-radius: 25px;
  border-color: $color-border;
  border-width: 2px;
  margin: 0 35px 0 25px;
}

.fa-exchange {
  color: $color-exchange-icon;
}

.result {
  margin: 30px 0;
  text-align: center;
  span {
    font-size: 28px;
    position: relative;
    top: 15px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    // padding-bottom: 200px;
    // background: #838E8E;
  }
}

@media screen and (max-width: 607px) {
  .container {
    max-width: 560px;
  }
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .dropdown {
    width: 80px;
    padding: 0;
    margin: 0;
  }
  .btn-circle {
    padding: 0;
    margin: 0;
  }
  input {
    width: 8%;
    font-size: 18px;
  }
}
