$color-black: #000;
$color-white: #FFF;
$color-dropdown-text: #272727; // raisin-black
$color-border: #E5E5E5; // platinum
$color-drop-shadow: #ACACAC; // silver-chalice
$color-orange-background: #D64759; // dark terra cotta
$color-blue-background: #033F63; // dark imperial blue
$color-exchange-icon: #8CC9F0; // baby blue
$color-secondary-background: #CCC; // pastel-gray

$side-spacing: 15px;
