<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title><%= title %></title>

      <!-- bower:css -->
      <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
      <!-- endbower -->

      <!-- inject:css -->
      <link rel="stylesheet" href="/css/style.css">
      <!-- endinject -->
  </head>
  <body>
    <div class="container">

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button"
                id="currency-source" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
          <span id="source-title">USD</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="dropdown-source"
            aria-labelledby="currency-source" aria-expanded="true">
          <li><a href="#">USD</a></li>
          <li><a href="#">CNY</a></li>
        </ul>
      </div>

      <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button"
                  id="currency-target" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <span id="target-title">CNY</span>
            <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" id="dropdown-target"
                aria-labelledby="currency-target" aria-expanded="true">
              <li><a href="#">CNY</a></li>
              <li><a href="#">USD</a></li>
            </ul>
        </div>
    </div>
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <!-- endbower -->

    <!-- inject:js -->
    <script src="/js/main.js"></script>
    <!-- endinject -->
    </body>
</html>
