<div class="jumbotron">
  <img src="images/flags/United-States-Of-America.png" style="width: 7%; height: 7%;">
  <form enctype="multipart/form-data" method="post" name="form" class="form-horizontal" ng-submit="submitForm()">
    <ui-select ng-model="form.currencyFrom" class="dropdown" theme="bootstrap">
      <ui-select-match placeholder="USD">
        {{$select.selected.country}}
      </ui-select-match>
      <ui-select-choices repeat="currency in currencies | filter: $select.search" value="{{$select.selected.country}}">
        <div ng-bind-html="currency.country | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </form>
  <!-- Selected: {{form.currencyFrom.country}} -->
  <img src="images/flags/China.png" style="width: 7%; height: 7%;">
  <form enctype="multipart/form-data" method="post" name="form" class="form-horizontal" ng-submit="submitForm()">
    <ui-select ng-model="form.currencyTo" class="dropdown" theme="bootstrap">
      <ui-select-match placeholder="CNY">
        {{$select.selected.country}}
      </ui-select-match>
      <ui-select-choices repeat="currency in currencies | filter: $select.search" value="{{$select.selected.country}}">
        <div ng-bind-html="currency.country | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </form>
  <!-- Selected: {{form.currencyTo.country}} -->
</div>
