<div class="jumbotron">

  <div class="btn-group" uib-dropdown>
    <button ng-click="submit" id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      {{currencyFrom}}<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="single-button">
      <li ng-repeat="currency in currencies" value="{{currency.country}}">
        <a ng-click="updateCurrency(currency.country)">{{currency.country}}</a>
      </li>
    </ul>
  </div>

  <div class="btn-group" uib-dropdown>
    <button ng-click="submit" id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      {{currencyTo}}<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li ng-repeat="currency in currencies" value="{{currency.country}}">
        <a ng-click="updateCurrency(currency.country)">{{currency.country}}</a>
      </li>
    </ul>
  </div>

</div>

<!-- <label class="item item-input item-select">
  <div class="input-label">
    From Currency
  </div>
  <select ng-model="Data.fromCurrency" ng-change="getExchangeRate()">
    <option value="">Select</option>
    <option ng-repeat="currency in currencies" value="{{currency.country}}">{{currency.country}}</option>
  </select>
</label>

<label class="item item-input item-select">
  <div class="input-label">
    To Currency
  </div>
  <select ng-model="Data.toCurrency" ng-change="getExchangeRate()">
    <option value="">Select</option>
    <option ng-repeat="currency in currencies" value="{{currency.country}}">{{currency.country}}</option>
  </select>
</label> -->
