<div class="jumbotron">
  <input ng-model="amount" ng-pattern="numeric" type="text" placeholder="{{amount ? amount : '1'}}" ng-change="calculateRate(amount)"></input>
  <img src="images/flags/{{base.selected.name}}.png" alt="" style="width: 7%; height: 7%; position: relative;">
  <ui-select ng-model="base.selected" class="dropdown" theme="bootstrap">
    <ui-select-match>
      {{$select.selected.country}}
    </ui-select-match>
    <ui-select-choices repeat="currency in currencies | filter: $select.search" value="{{$select.selected.country}}" ng-click="getRates($select.selected, amount)">
      <div ng-bind-html="currency.country | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>

  <button type="button" class="btn btn-default btn-circle" ng-click="swapCountries(base.selected, rate.selected)">
    <i class="fa fa-exchange fa-lg" aria-hidden="true"></i>
  </button>

  <div class="flag" ng-if="rate.selected.name">
    <img src="images/flags/{{rate.selected.name}}.png" alt="" id="to" style="width: 7%; height: 7%; position: relative;">
  </div>
  <ui-select ng-model="rate.selected" class="dropdown" theme="bootstrap">
    <ui-select-match placeholder="Select Country">
      {{$select.selected.country}}
    </ui-select-match>
    <ui-select-choices repeat="currency in currencies | filter: $select.search" value="{{$select.selected.country}}" ng-click="changeFlag($select.selected)"> <!-- Need to use local storage -->
      <div ng-bind-html="currency.country | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
  <div class=result>
    <h3>{{amount}} {{base.selected.country}} = {{rate.selected.rate}} {{rate.selected.country}}</h3>
  </div>
</div>
